@media screen and (max-width:425px) {

    /* =====navbar starts====== */
    .navbar-right-container {
        display: none;
    }

    .navbar-left {
        margin-left: 30px;
    }

    .nav-hamburger-container {
        width: 30px;
        color: white;
        display: block;
        margin-right: 30px;
        text-align: center;
    }

    /* =====navbar ends======== */
    /* =======banner starts===== */
    .banner-container {
        flex-direction: column;
        margin-left: -140px;
    }

    .banner-left-headline {
        width: 90vh;
    }

    .banner-left-btn-container {
        width: 80vh;
        display: flex;
        gap: 20px;
    }

    .banner-left-club-btn {
        width: 180px;
        height: 50px;
    }

    .banner-left-download-btn {
        width: 180px;
        height: 50px;
    }

    .banner-right-container .banner-right-img {
        margin-left: 90px;
    }

    .banner-workout-container {
        right: 5%;
        bottom: 30%;
        width: 130px;
        height: 65px;
    }

    .ball-video-container {
        right: 40%;
        bottom: 8%;
        height: 65px;
        width: 125px;
    }

    /* =======banner ends======= */
    /* ======main starts======== */
    /* ======habit-headline starts====== */
    .habit-headline-container {
        width: 79%;
    }

    /* ======habit-headline ends====== */
    /* =====habit-img-container starts======= */
    .habit-img-container {
        flex-direction: column;
        justify-content: center;
        margin-left: 95px;
    }

    .habit-img-div {
        width: 60%;
    }

    /* =====habit-img-container ends===== */
    /* ===Start of Run an Extra======= */
    .run-container {
        flex-direction: column;
    }

    .run-img {
        width: 100%;
        text-align: center;
        align-items: center;
        padding: 30px;
    }

    /* ====ends of Run an Extra=======   */
    /* ======main ends======= */
    /* ======BMI section starts===== */
    .bmi-container {
        flex-direction: column;
    }

    .bmi-chart {
        width: 70%;
        margin-left: 70px;
        margin-bottom: 30px;
    }

    .bmi-calculate {
        width: 100%;
        padding-left: 3px;
    }

    .bmi-calculate h1 {
        padding-left: 25px;
    }

    .habit-para {
        padding-left: 25px;
    }

    .bmi-form .form-container .form-field {
        width: 50%;
        margin-top: 10px;
        padding-left: 25px;
    }

    button.form-field-btn {
        margin-left: 25px;
    }

    /* ======BMI section ends===== */

    /* ======Meet Our Team starts==== */
    .team-img-container {
        grid-template-columns: repeat(1, 1fr);
    }

    /* ======Meet Our Team ends===== */

    /* ======Footer starts======= */
    .footer-fit-get-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-fitness {
        width: 81%;
        font-size: 40px;
        text-align: center;
    }

    .footer-get-1,
    .footer-get-2 {
        width: 80%;
        padding-top: 15px;
    }

    .horizontal-line {
        margin-top: 10px;
    }

    /* ======Footer ends======== */
}